.yu-tag{
	width: 55px;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	border: 1px solid #ff9244;
	border-radius: 5px;
	margin-right: 10px;
	color: #ff9244;
	text-align: center;
}
#tag_cloud{
	padding: 10px 0;
}
